/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env-p
.env-pro
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Http/Controllers/noteshazuyaFirebase.json
/app/Http/Controllers/FirebaseController.php
/app/Http/Controllers/ReCaptchaToken.php
