@import url(/codes/styles/prism.css);

@font-face {
    font-family: 'NotoSansTC-Regular';
    font-style: normal;
    src: url(/fonts/NotoSansTC-Regular.otf);
    unicode-range: U+4E00-9FFF;
  }

  @font-face {
    font-family: 'NotoSansTC-Regular';
    font-style: normal;
    src: url(/fonts/Rubik-Regular.ttf);
    unicode-range: U+00-024F;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 2.5rem;
}

pre,
p,
img {
  margin-bottom: 2.5rem;
}

body {
    font-family: 'NotoSansTC-Regular';
    color:#262728;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

hr {
    background-color: rgb(170 180 190 / 30%);
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}

blockquote {
  /*font-family: 'NotoSerifTC-Medium';*/
  background-color: #262728;
  border-left: 5px solid #064ACB;
  color: #F2F3F3;
  border-radius: 0px;
  padding: 1.25em 1.5em;
  box-shadow: 5px 5px 0 0.125em #FFD324;
  margin: 1.5em auto;
}

blockquote a {
  color: #F2F3F3
}

